language: elixir
matrix:
  include:
    - otp_release: 18.3
      elixir: 1.3.2
    - otp_release: 19.0
      elixir: 1.3.2
ssudo: false
before_script:
  - mix deps.get --only ci
  - kiex use 1.3.2
  - elixir --version
env:
  - MIX_ENV=ci
script:
  - mix coveralls.travis
after_script:
  - cd $TRAVIS_BUILD_DIR
  - mix deps.get --only docs
